<!DOCTYPE html>
<html>
<head>
  <title>Joe's Burgers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">
  <link rel="stylesheet" href="joesburger.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="joesburger.js"></script>
</head>
<body>
  <div ng-app="joesburger" ng-controller="ctrlJoesBurger">
    <div id="banner" class="{{bannerStyle.style}}">
	  <h1>Joe's Burgers</h1>
	</div>
	<div id="navbar" class="{{navbarStyle.style}}">
	  <button id="btnHome" ng-click="goHome()" class="{{navbarButtonStyle.style}}"><i class="{{iHome}}"></i>Home</button>
      <button id="btnPlan" ng-click="goMenu()" class="{{navbarButtonStyle.style}}"><i class="{{iMenu}}"></i>Menu</button>
      <button id="btnList" ng-click="goContact()" class="{{navbarButtonStyle.style}}"><i class="{{iContact}}"></i>Contact Us</button>
      <button id="btnFaves" ng-click="goAbout()" class="{{navbarButtonStyle.style}}"><i class="{{iAbout}}"></i>About</button>
	</div>
	<div id="home" class="{{homeStyle.style}}">
	  <h1 class="{{homeStyle.header}}">TRY THE MUSHROOM SWISSBURGER:</h1>
	  <div class="w3-container">Our customer's favorite burger with  100%  fresh, never frozen Beef patties, fresh cut  mushrooms, fried onion rings, cheese, and mayo all in a potato bun.</div>
	  <div class="{{homeStyle.imgRow}}">
		<div class="{{homeStyle.imgCol}}">
		  <div class="{{homeStyle.imgStyle}}"><img src="image/whyjoesburger.png" style="width:100%"></div>
		</div>
		<div class="{{homeStyle.imgCol}}">
		  <div class="{{homeStyle.imgStyle}}"><img src="image/CertifiedAngusBeef.jpg" style="width:100%"></div>
		</div>
		<div class="{{homeStyle.imgCol}}">
		  <div class="{{homeStyle.imgStyle}}"><img src="image/moneyraised.jpg" style="width:100%"></div>
		</div>
	  </div>
	  <table class="{{homeStyle.table}}">
		<tr>
		  <th>GET THE APP</th>
		  <th>SEE THE FOOD</th>
		</tr>
		<tr>
		  <td>Download the Joes Burger Rewards App today and cash in! Earn 1 point for every dollar spent. Get a $10 reward for every 100 points</td>
		  <td>Customizable burgers.  Never-frozen beef.  Buns baked in-house daily.  Hand-cut fries.  Ten flavors of Shakes from real ice cream.</td>
		</tr>
	  </table>
	  <h1 class="{{homeStyle.header}}">CONNECT WITH US!</h1>
	  <div class="{{homeStyle.imgRow}}">
	    <div class="{{homeStyle.imgCol}}">
		  <figure class="{{homeStyle.imgStyle}}">
		    <img src="image/bpic4.jpg" style="width:100%">
            <figcaption class="{{homeStyle.imgCaption}}">Eat good.  Feel good.  Look good.</figcaption>
		  </figure>
		</div>
		<div class="{{homeStyle.imgCol}}">
		  <figure class="{{homeStyle.imgStyle}}">
		    <img src="image/bpic5.jpg" style="width:100%">
            <figcaption class="{{homeStyle.imgCaption}}">Forgot to post these yesterday</figcaption>
		  </figure>
		</div>
		<div class="{{homeStyle.imgCol}}">
		  <figure class="{{homeStyle.imgStyle}}">
		    <img src="image/bpic6.jpg" style="width:100%">
            <figcaption class="{{homeStyle.imgCaption}}">A good burger doesn't have a bad side</figcaption>
		  </figure>
		</div>
	  </div>
	  <div class="{{homeStyle.imgRow}}">
	    <div class="{{homeStyle.imgCol}}">
		  <figure class="{{homeStyle.imgStyle}}">
		    <img src="image/bpic7.jpg" style="width:100%">
            <figcaption class="{{homeStyle.imgCaption}}">Up close and personal!</figcaption>
		  </figure>
		</div>
		<div class="{{homeStyle.imgCol}}">
		  <figure class="{{homeStyle.imgStyle}}">
		    <img src="image/bpic8.jpg" style="width:100%">
            <figcaption class="{{homeStyle.imgCaption}}">Love my serious lunch date!</figcaption>
		  </figure>
		</div>
		<div class="{{homeStyle.imgCol}}">
		  <figure class="{{homeStyle.imgStyle}}">
		    <img src="image/bpic9.jpg" style="width:100%">
            <figcaption class="{{homeStyle.imgCaption}}">The perfect day to pick up a burger & a book.</figcaption>
		  </figure>
		</div>
	  </div>
	  <div class="{{homeStyle.imgRow}}">
	    <div class="{{homeStyle.imgCol}}">
		  <figure class="{{homeStyle.imgStyle}}">
		    <img src="image/bpic10.jpg" style="width:100%">
            <figcaption class="{{homeStyle.imgCaption}}">Can't blame her...</figcaption>
		  </figure>
		</div>
		<div class="{{homeStyle.imgCol}}">
		  <figure class="{{homeStyle.imgStyle}}">
		    <img src="image/bpic11.jpg" style="width:100%">
		    <figcaption class="{{homeStyle.imgCaption}}">Sooo a waiter at an unrelated restaurant just recognized me from the 10 patty @JoesBurger challenge.</figcaption>
		  </figure>
		</div>
		<div class="{{homeStyle.imgCol}}">
		  <figure class="{{homeStyle.imgStyle}}">
		    <img src="image/bpic12.jpg" style="width:100%">
            <figcaption class="{{homeStyle.imgCaption}}">Date night with the wifey.</figcaption>
		  </figure>
		</div>
	  </div>
	</div>
	<div id="menu" class="{{menuStyle.style}}">
	  <div id="row1" class="{{rowStyle.style}}">
	    <div class="{{colStyle.style}}">
		  <div id="item1" class="{{menuItemStyle.style}}">
		    <img src="image/Cheeseburger.png">
			<div class="{{menuItemStyle.textStyle}}">
			  <h4 class="{{menuItemStyle.nameStyle}}">{{menuItem1.name}}</h4>
			  <div class="{{menuItemStyle.descStyle}}">{{menuItem1.desc}}</div>
			</div>
		  </div>
		</div>
		<div class="{{colStyle.style}}">
		  <div id="item2" class="{{menuItemStyle.style}}">
		    <img src="image/Cheddar-Bacon-Burger.png">
			<div class="{{menuItemStyle.textStyle}}">
			  <h4 class="{{menuItemStyle.nameStyle}}">{{menuItem2.name}}</h4>
			  <div class="{{menuItemStyle.descStyle}}">{{menuItem2.desc}}</div>
			</div>
		  </div>
		</div>
		<div class="{{colStyle.style}}">
		  <div id="item3" class="{{menuItemStyle.style}}">
		    <img src="image/Mushroom-Swiss-Burger.png">
			<div class="{{menuItemStyle.textStyle}}">
			  <h4 class="{{menuItemStyle.nameStyle}}">{{menuItem3.name}}</h4>
			  <div class="{{menuItemStyle.descStyle}}">{{menuItem3.desc}}</div>
			</div>
		  </div>
		</div>
	  </div>
	  <div id="row2" class="{{rowStyle.style}}">
	    <div class="{{colStyle.style}}">
		  <div id="item4" class="{{menuItemStyle.style}}">
		    <img src="image/A1-Cheeseburger.png">
			<div class="{{menuItemStyle.textStyle}}">
			  <h4 class="{{menuItemStyle.nameStyle}}">{{menuItem4.name}}</h4>
			  <div class="{{menuItemStyle.descStyle}}">{{menuItem4.desc}}</div>
			</div>
		  </div>
		</div>
		<div class="{{colStyle.style}}">
		  <div id="item5" class="{{menuItemStyle.style}}">
		    <img src="image/Double-Diablo.png">
			<div class="{{menuItemStyle.textStyle}}">
			  <h4 class="{{menuItemStyle.nameStyle}}">{{menuItem5.name}}</h4>
			  <div class="{{menuItemStyle.descStyle}}">{{menuItem5.desc}}</div>
			</div>
		  </div>
		</div>
		<div class="{{colStyle.style}}">
		  <div id="item6" class="{{menuItemStyle.style}}">
		    <img src="image/Classic-Crispy-Chicken-Sandwich.png">
			<div class="{{menuItemStyle.textStyle}}">
			  <h4 class="{{menuItemStyle.nameStyle}}">{{menuItem6.name}}</h4>
			  <div class="{{menuItemStyle.descStyle}}">{{menuItem6.desc}}</div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div id="contact" class="{{contactStyle.style}}">
	  <h1>Contact</h1><br>
	  <p>We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p>
	  <p class="{{contactStyle.p}}"><b>Joe's Hamburgers Catering Service, 143 Joesville St, Fort Worth, TX 76111</b></p>
	  <p>You can also contact us by phone 8175555500 or email joeshamburgers.com, or you can send us a message here:</p>
	  <form action="/action_page.php" target="_blank">
	    <p><input class="{{contactStyle.input}}" type="text" placeholder="Name" required name="Name"></p>
	    <p><input class="{{contactStyle.input}}" type="number" placeholder="How many people" required name="People"></p>
	    <p><input class="{{contactStyle.input}}" type="datetime-local" placeholder="Date and time" required name="date" value="2017-11-16T20:00"></p>
	    <p><input class="{{contactStyle.input}}" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
	    <p><button class="{{contactStyle.btn}}" type="submit">SEND MESSAGE</button></p>
	  </form>
	</div>
	<div id="about" class="{{aboutStyle.style}}">
	    <div class="{{aboutStyle.jumbotron}}">
	      <h1>BURGERS, FRIES & SHAKES. THE TASTE TRIFECTA.</h1>
	      <p>A wise man once said, "Do one thing well." The problem is, we couldn't choose between burgers, fries and shakes. So we said, "Forget that guy." Besides who is he anyway? He sure doesn't sound wise. Can he even cook? The guy probably eats tofu.</p>
	    </div>
	    <div class="{{aboutStyle.body}}">
	      <h2>Serious about food. Seriously.</h2>
	      <p>We love fun. In fact, we’re fun-loving lovers of fun. And yet, we couldn’t be more serious about our food. We’re talking never-frozen beef, hand-cut fries, real ice cream shakes, and other delicious nouns preceded by quality-assuring adjectives. Here, “serious” and “fun” are one with the bun.</p>
	    </div>
	    <footer class="footer">
	      <ul class="{{aboutStyle.list}}">
	        <li><a href="#">About</a></li>
	        <li><a href="#">Career</a></li>
	        <li><a href="#">Order Online</a></li>
	        <li><a href="#">Map</a></li>
	        <li><a href="#">App</a></li>
	      </ul>
	    </footer>
	</div>
  </div>
</body>
</html>